<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

        <div class="alert alert-danger" *ngIf="error">

            <p>{{error}}</p>

        </div>
        <div class="" *ngIf="isLoading" style="text-align: center;">
            <app-spinning-loader></app-spinning-loader>
        </div>
        <form  #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                type="email" 
                class="form-control" 
                id="email"
                ngModel
                name="email"
                required
                >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                id="password" 
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6"    
                >
            </div>
            <div >
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{isLoggedinMode ? 'Login' : 'Sign Up'}}</button> |
                <button class="btn btn-success" type="button" (click)="onSwitchMode()">Switch to {{isLoggedinMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>